<header>
  <div class="navbar">
    <a href="/" class="front-page">回到首頁</a>
    <a href="/about" class="about-page" type="submit">About</a>
    <a href="/portfolio" class="portfolio-page">Portfolio</a>
    <a href="/contact" class="contact-page">Contact</a>
  </div>
</header>

<div class="container">
  <h1 class="title">About</h1>
</div>