<header>
  <nav class="navbar">
    <a href="/" class="front-page">回到首頁</a>
    <a href="/about" class="about-page">About</a>
    <a href="/portfolio" class="portfolio-page">Portfolio</a>
    <button class="contact-page"><a href="/contact" class="contact">Contact</a></button>
  </nav>
</header>

<div class="container">
  <h1 class="title">About</h1>
</div>