<header>
    <nav class="navbar">
        <button><a class="front-page" href="/">回到首頁</a></button>
        <a class="about-page" href="/about">About</a>
        <a class="portfolio" href="/portfolio">Portfolio</a>
        <a class="contact" href="/contact">Contact</a>
    </nav>
</header>

<div class="container">
  <h1 class="title">首頁</h1>
</div>