<header>
  <nav class="navbar">
    <button class="front-page"><a href="/" class="front">回到首頁</a></button>
    <button class="about-page"><a href="/about" class="about">About</a></button>
    <button class="portfolio-page"><a href="/portfolio" class="portfolio">Portfolio</a></button>
    <button class="contact-page"><a href="/contact" class="contact">Contact</a></button>
  </nav>
</header>

<div class="container">
  <h1 class="front-title">首頁</h1>
</div>