body {
    font-family: 'Lato', sans-serif;
}

.navbar {
    position: relative;
    margin-top: 25px;
    outline: 1px solid red;
}

a {
    position: absolute;
    text-decoration: none;
    color: black;
    font-size: 17px;
    text-align: center;
    line-height: 35px;
    background: #CCCCCC;
    border-radius: 8px;
    border: none;
    background-color: #CCCCCC;
    width: 100px;
    height: 35px;
}

.front-page {
    left: 0px;
}

.about-page {
    right: 220px;
}

.portfolio-page {
    right: 110px;
}

.contact-page {
    right: 0px;
}

.title {
    margin: 50px 30px;
    font-weight: 400;
}