body {
    font-family: 'Lato', sans-serif;
}

.navbar {
    margin: 20px 15px;
    position: relative;
}

a {
    text-decoration: none;
    color: black;
    font-size: 17px;
    cursor: none;
}

button {
    border-radius: 8px;
    border: none;
    background-color: #CCCCCC;
    width: 100px;
    height: 35px;
}

.front {
    font-weight: 600;
}

.about-page {
    position: absolute;
    right: 220px;
}

.about-page:focus,
:active {
    cursor: none;
    background: olive;
}

.about:active {
    cursor: none;
    background: olive;
}

.portfolio-page {
    position: absolute;
    right: 110px;
}

.contact-page {
    position: absolute;
    right: 0px;
}

.front-title {
    margin: 50px 30px;
    font-weight: 600;
}

.title {
    margin: 50px 30px;
    font-weight: 400;
}